* {
  box-sizing: border-box;
} 

body {
  background-color: #04151f;  
  padding: 20px;
  margin: 0;
}


/** Main Content **/

main {
  background-color: #dce1de;
  max-width: 800px;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

h1 {
  color: #216869;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.game-instructions {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}

  /* Dice Section */ 

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-face {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.20);
}

.die-number {
  font-size: 2rem;
}

  /* Button Section */ 

button {
  background-color: #49a078;  
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #03cea4;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 3px 3px 10px -3px rgba(0, 0, 0, 0.5);
} 