* {
  box-sizing: border-box;
} 

body {
  background-color: #183a37; 
  padding: 20px;
  margin: 0;
}


/** Main Content **/

main {
  max-width: 800px;
  height: 400px;
  background-color: #dce1de;
  border-radius: 5px;
  padding: 20px;
  margin: auto; 
}

h1 {
  color: #216869;
  text-align: center;
}